{% extends "MapBundle:Map:base.html.twig" %}
{% block content %}
<!-- Map Section -->
<div class="container">
    <div class="row">
        <div class="col-md-8"><div id="map"></div></div>
        <div class="col-md-4">
            <button id="find-button" type="submit" name="button"> {{'map.find-location'|trans}}</button>
            <label for="search">{{'map.enter-searching-value'|trans}}</label>
            <input id="search" type="text" name="text" value="" placeholder="{{'map.start-typing'|trans}}">
        </div>
    </div>
</div>

<input type="hidden" id="ajaxCallGet" value="{{path('map_get')}}">
<input type="hidden" id="ajaxCallAdd" value="{{path('map_add')}}">


{% endblock %}

{% block js %}
    {{parent()}}
    <script src="/bundles/map/js/map-task.js" charset="utf-8"></script>
{% endblock %}
